/* Estilos para el menú */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  ul.menu li {
    float: left;
  }
  
  ul.menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
  }
  
  ul.menu li a:hover {
    background-color: #ddd;
  }
  
  /* Estilos adicionales para la pestaña activa */
  ul.menu li.active a {
    background-color: #4caf50;
    color: white;
  }
  